# all other type of files generated automatically
linkfile
*.o
*.a
*.d
*.obj
*.sfc
*.sym
*.pic
*.pal
*.map
*.pc7
*.mp7
*.bnk
*.til
*.clm
*.brr
*.asp
*.ps
*.log
*.tmp
listing/
build/

# debug files
*.dbg

*.mrb
*.bytecode.c

.envrc

# TODO: Add font
pvsneslibfont.png
